/**************************************
slider
**************************************/
.section-hero{
    height: 100vh;
    width: 100vw;
    background-image:url('../public/images/herosection.jpg');
    background-repeat: no-repeat;
    background-color:rgba(0,0,0,0.5);
    background-blend-mode: lighten;
    background-size: cover;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 200ms ease-in-out 200ms;
}
.carasoul{
    position: relative;
    min-width: 60%;
    max-width: 100%;
    width: 100%;
}
.carasul-para{
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
}
.selection{
    position: absolute;
    top: 5rem;
    display: flex;
    gap: 0.3rem;
    left: 50%;
}
.round{
    cursor: pointer;
    display: block;
    width: 10px;
    height: 10px;
    background-color: rgba(255,255,255,0.4);
    border-radius: 50%;
    border: 1px solid #fff;
}
.round.prev{
    left:0rem;
}
.round.next{
    right:0rem;
}

.slide{
    
    position: absolute;
    inset: 0;
    opacity: 0;
}
.s-active{
   opacity: 1;
   transition: all 200ms ease-in-out 200ms;
}
.c-active{
background-color: #fff;
transition: all 200ms ease-in-out 200ms;
}
/*****************************************************
about section
***************************************************/
.about{
    width: 100vw;
    aspect-ratio: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 200ms ease-in-out;
}
.aboutwrapper{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.para-heading{
    /* color: #fff; */
    text-transform: capitalize;
    font-size: 1.8rem;
}
.light{
    /* color: #fff; */
    font-size: 1.2rem;
    padding: 0 2rem;
}
/****************************************************************
*****************************************************************
services section
*****************************************************************
****************************************************************/
.services{
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
  max-width: 80%;
  margin: 2rem  auto;
}
.cards{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.services-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.servicesinfo{
    display: flex;
    flex-direction: column;
    gap: 2rem;

}
.cardimg{
    max-width: 10rem;

}
.cardimg > img{
    width: 100%;
}
/*************************************************
cards section
*************************************************/
.cards-wrapper{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.cards-container{
    display: flex;
    max-width: 80%;
    margin:0 auto;
    gap:0.2rem;
}
.card-anchor{
    width: 20rem;
    aspect-ratio: 1;
   background-image: url('../public/images/img2.jpg');
   background-position:50%;
   background-size: cover;
   background-repeat: no-repeat;
   position: relative;
   transition: all 300ms ease-in-out;
   text-decoration: none;
}
.card-anchor:hover{
    background-image: linear-gradient(135deg, rgba(0, 48, 87, 0.8), rgba(147, 197, 255, 0.8)),url('../public/images/img2.jpg');
}
.card-anchor > h4{
    font-size: 1.2rem;
    margin: 1rem 0;
    text-align: center;

}
.arrow{
    position: absolute;
    font-size: 4rem;
    font-weight: 800;
    bottom:3%;
    left: 4%;
}

/**********************************
overview page
**********************************/

.over-header-wrapper{
    height: 100vh;
    width: 100vw;
    background-image:url('../public/images/6035802baa8fd13074027411_alex-bertha-RqJhXgWK7K4-unsplash.jpg');
    background-repeat: no-repeat;
    background-color:rgba(0,0,0,0.5);
    background-blend-mode: lighten;
    background-size: cover;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 200ms ease-in-out 200ms;
}
.over-info-wrapper{
    max-width: 80%;
    margin: auto;
    display: grid;
    gap: 3rem;
}


@media screen and (max-width:991px) {
    .selection{
        top:10rem;
        left:45%
    }
    .services-container{
        display: grid;
        grid-template-columns: 1fr;
    }
}